
/*///////////////////////////////////////////////////////////////////////////////////////////*/
body{
    background-color: green;
    display: flex;
    justify-content: center;
    margin:0;
}
/*/////////////////////////////////////////////////////////////////////////*/
.green{
background-color: darkslategray;
}
.lightgreen{
background-color:lightgreen;
}
.gray{
background-color: gray;
}
.black{
    background-color: black;

}
/*///////////////////////////////////////////////////////////////////////////////*/
p{
    font-size: 30px;
}
.mainbox{
    display: flex;
    flex-direction: column;
     height: 50%;
     width: 22%;
    margin: 160px;
     border-radius: 10px;
    justify-content: start;
    box-shadow: 0px 0px 200px  lightseagreen;


}
.display{
    height: 82%;
    text-align: center;
    line-height: 140%;

}
.buttons{
    display: flex;
    flex-direction: row;
    height: 18%;
    justify-content: end;


}
.rightbutton{
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 10px;
    border-style: none;
    background-color: black;
    font-size: 50px;
    color: lightgreen;

}
.leftbutton{
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-style: none;
    background-color: black;
    font-size: 50px;
    color: lightgreen;
}
.leftbutton:hover{
    background-color: darkslategray;
}
.rightbutton:hover{
    background-color: darkslategray;
}
.counter{
    font-size: 150px;
     margin: 80px;
     margin-bottom: 50px;!important;
}
.reset{
    margin-top: 20px;
    background-color: lightgreen;
    border-style: none;
    border-radius: 50%;
}
.reset:hover{
    background-color: greenyellow;
}
